################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


*.exe
.vs/
x64/Release/
x64/Release/dbghelp.dll
HijackMethod/x64
/Release
/HijackMethod/Release
/HijackMethod_x86/Release
/HijackMethod_x86/Debug
