################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


*.exe
.vs/
x64/Release/
x64/Release/dbghelp.dll
HijackMethod/x64